@charset "UTF-8";
.btn-propio {
  background-color: #626554;
}
.btn-propio:hover {
  background-color: #93a059;
  border-color: #93a059;
}

.logoTlou {
  margin-top: 110px;
  display: flex;
  justify-content: center;
}

.jaGral {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  margin-bottom: 80px;
}

.textDecoration {
  text-decoration: none;
}

.jugarAhora {
  display: flex;
  justify-content: space-around;
  border: 3px solid black;
  padding: 10px;
  background-color: black;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ysabeau", sans-serif;
  color: aliceblue;
  border-radius: 20px;
  margin-left: 3px;
  transition: 0.3s ease;
}
.jugarAhora:hover {
  border-radius: 5px;
  border-color: antiquewhite;
  transition: 0.3s ease;
}

.jugarAhoraI {
  display: flex;
  justify-content: space-around;
  border: 3px solid rgb(255, 255, 255);
  padding: 10px;
  background-color: black;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ysabeau", sans-serif;
  color: aliceblue;
  border-radius: 20px;
  margin-left: 3px;
}
.jugarAhoraI:hover {
  border-radius: 5px;
  background-color: white;
  border-color: black;
  color: black;
  transition: 0.3s ease;
}

.jugarAhoraII {
  display: flex;
  justify-content: space-around;
  border: 3px solid black;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ysabeau", sans-serif;
  color: black;
  border-radius: 20px;
  margin-left: 3px;
}
.jugarAhoraII:hover {
  border-radius: 5px;
  border-color: antiquewhite;
  color: white;
  background-color: black;
  transition: 0.5s ease;
}

.carousel-item img {
  margin: 0 auto;
  width: 30%;
  height: 30%;
}

/********MOBILE INICIO*******/
@media screen and (max-width: 480px) {
  .jaGral {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logoTlou {
    width: 100%;
    height: 100%;
  }
  .imgSerie {
    width: 100%;
    height: 200px;
  }
  .imgTienda {
    width: min-content;
    height: min-content;
  }
  .w-101 {
    width: 100%;
    height: 200px;
  }
  .carousel-item img {
    margin: 0 auto;
    width: 70%; /* Establece el tamaño deseado para el modo de escritorio */
    height: 30%; /* Ajusta la altura automáticamente para mantener la proporción */
  }
  iframe {
    margin-top: 30px;
    width: 100%;
    height: 200px;
    display: flex;
    margin-left: 0;
  }
  .fotoEllie {
    width: 300px;
  }
  .Joelfoto {
    width: 300px;
  }
  .tituloTres {
    font-size: 24px;
    margin: 0;
    margin-top: 40px;
  }
  .videoIframe {
    margin-top: 30px;
    margin-left: 0%;
  }
}
.Joel {
  border: solid;
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: inline-block;
  width: 100px;
  height: 10%;
  margin: 20px;
}

.Ellie {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.fotoJoel {
  align-items: center;
}

.imagenes {
  display: flex;
  justify-content: space-evenly;
}

.ConocePersonajes {
  display: flex;
  justify-content: center;
}

.Personajes {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 20px;
}

.serieHBO {
  color: black;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.imagenArticle {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  margin-top: 20px;
}

.titulosArticle {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 50px;
  text-decoration: none;
  color: black;
}

.itemEllie {
  margin: 30px;
  display: flex;
  justify-items: center;
  justify-content: center;
  font-size: 21px;
  font-family: inherit;
  color: white;
}

.tituloEllie {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 100px;
}

.edades {
  margin-left: 20px;
  font-family: inherit;
  font-size: 17px;
}

.joelFoto {
  display: flex;
  justify-content: center;
}

.tituloJoel {
  margin: 20px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.itemJoel {
  display: flex;
  justify-items: start;
  justify-items: flex-start;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.tituloTess {
  margin: 20px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.itemTess {
  margin: 30px;
  display: flex;
  font-size: 21px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.tituloTodos {
  background-color: black;
  color: white;
  border-radius: 10px;
  border-style: inset;
}

.tituloDos {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.infoSerie {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.parrafos {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.videoIframe {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .Joelfoto {
    width: 123%;
  }
}
.tituloTres {
  margin: 25px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.tituloPedro {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#historia {
  margin-top: 50px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-family: inherit;
  color: black;
}

#tituloHistoria {
  margin-top: 40px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.lore {
  text-decoration: none;
  color: #626554;
  font-size: 20px;
  font-family: "Ysabeau", sans-serif;
  margin-right: 20px;
  display: flex;
  justify-content: left;
}
.lore:hover {
  color: #93a059;
}

#fondoLogin {
  background-image: url(../img/fondoLogin.jpg);
}

.bloqueLogin {
  background: rgba(223, 186, 186, 0.1);
  backdrop-filter: blur(5px);
  display: flex;
  margin-top: 150px;
  margin-left: 540px;
  border: 2px solid white;
  border-radius: 1px;
  border-style: solid;
  width: 320px; /* Ancho de 150 píxeles */
  height: 350px; /* Alto de 150 píxeles */
  border: 2px solid rgba(255, 255, 255, 0.2); /* Borde color negro y de 1 píxel de grosor */
  flex-direction: column;
  justify-content: space-around;
}

#password {
  margin-top: 20px;
  margin-left: 10px;
}

#email {
  margin-bottom: 20px;
  margin-left: 8px;
}

#boton {
  display: flex;
  margin-left: 120px;
  margin-top: 40px;
}

.username {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 15px;
}

#ingresa {
  margin-left: 26%;
  margin-top: 3%;
  font-family: monospace;
  color: black;
}

@media screen and (max-width: 500px) {
  #fondoLogin {
    background-image: url(../img/fondoLogin.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bloqueLogin {
    background: rgba(223, 186, 186, 0.1);
    backdrop-filter: blur(5px);
    display: flex;
    margin: 20px;
    margin-top: 50px;
    margin-left: 28px;
    border: 1px solid white;
    border-radius: 1px;
    border-style: solid;
    width: 100%; /* Ancho de 150 píxeles */
    height: 88vh; /* Alto de 150 píxeles */
    border: 2px solid rgba(255, 255, 255, 0.2); /* Borde color negro y de 1 píxel de grosor */
    flex-direction: column;
    justify-content: space-around;
  }
  #password {
    float: inline-start;
    margin-bottom: 160px;
    margin-left: 10px;
  }
  #email {
    float: inline-start;
    margin-bottom: 10px;
    margin-left: 8px;
  }
  #boton {
    display: flex;
    margin-left: 130px;
    margin-top: 40px;
  }
  .username {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-left: 15px;
  }
  #ingresa {
    justify-content: center;
    align-items: center;
    font-family: monospace;
    margin-left: 29%;
  }
  header {
    display: flex;
    align-items: center;
  }
  main {
    justify-content: center;
  }
}
.password {
  margin-left: 20px;
  font-size: 87%;
  font-family: monospace;
}

.emailAddress {
  margin-left: 20px;
  margin-left: 20px;
  font-size: 87%;
  font-family: monospace;
}

.pruebaTitulo {
  margin-right: 70px;
}

.bg-body-black {
  background-color: black;
}

#blanco {
  color: white;
  font-size: 20px;
  padding: 5px;
}
#blanco:hover {
  color: #93a059;
}

.nav-link {
  color: white;
  font-size: 20px;
  padding: 5px;
}
.nav-link:hover {
  color: #93a059;
}

.navbar-nav, .nav-link.active, .navbar-nav, .nav-link .show {
  color: white;
}

.mayus {
  font-size: 30px;
  color: white;
  display: flex;
  margin-top: 5px;
  margin-right: 5px;
  cursor: default;
}

.w-101 {
  display: flex;
  justify-content: center !important;
}

.btn-propio {
  background-color: #626554;
}
.btn-propio:hover {
  background-color: #93a059;
  border-color: #93a059;
}

.container {
  background-color: black;
  text-decoration: none;
  color: white;
}

.col {
  text-decoration: none;
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.btn-primary {
  background-color: rgb(8, 177, 199);
  border-color: rgb(8, 177, 199);
}

.form-control {
  width: 80%;
  margin-left: 9%;
}

.emailAddress {
  margin-left: 20px;
}

.password {
  margin-left: 20px;
}

.footer {
  background-color: black;
  margin-top: 5%;
}

.footerTitulo {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 35px;
}

.descubrir {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 17px;
  margin: 25px;
}

.descubrirLinks {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: white;
  list-style: none;
}
.descubrirLinks:hover {
  color: #93a059;
  text-decoration: underline;
}

.redes {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: space-evenly;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}
.redes:hover {
  color: #93a059;
}

.footerFinal {
  background-color: rgb(66, 66, 66);
  text-align: center;
}

.footerContenido {
  color: white;
  font-size: 30px;
}

.footerDerechos {
  color: white;
  font-size: 12px;
}

@media screen and (max-width: 480px) {
  .descubrirLinks {
    display: inline;
    text-align: center;
  }
}
* {
  margin: 0;
  padding: 0;
}

.fondo {
  background-color: #626554;
}

.fuente {
  font-family: Arial, Helvetica, sans-serif;
}

/*# sourceMappingURL=styles.css.map */
