@import 'variablesColor';
.tituloDos{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.infoSerie{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.parrafos{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.videoIframe{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tituloTres{
    margin: 25px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tituloPedro{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}